*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 520px) {
  .container {
    max-width: 520px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 700px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 792px) {
  .container {
    max-width: 792px;
  }
}

@media (min-width: 956px) {
  .container {
    max-width: 956px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1100px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-10 {
  bottom: 2.5rem;
}

.bottom-20 {
  bottom: 5rem;
}

.bottom-6 {
  bottom: 1.5rem;
}

.bottom-auto {
  bottom: auto;
}

.bottom-full {
  bottom: 100%;
}

.left-0 {
  left: 0px;
}

.left-1\/2 {
  left: 50%;
}

.left-\[-4px\] {
  left: -4px;
}

.right-0 {
  right: 0px;
}

.right-1 {
  right: 0.25rem;
}

.right-3 {
  right: 0.75rem;
}

.right-6 {
  right: 1.5rem;
}

.right-7 {
  right: 1.75rem;
}

.right-8 {
  right: 2rem;
}

.right-\[-4px\] {
  right: -4px;
}

.right-\[10px\] {
  right: 10px;
}

.top-0 {
  top: 0px;
}

.top-1 {
  top: 0.25rem;
}

.top-1\/2 {
  top: 50%;
}

.top-5 {
  top: 1.25rem;
}

.top-\[10px\] {
  top: 10px;
}

.top-\[60px\] {
  top: 60px;
}

.top-full {
  top: 100%;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-\[10\] {
  z-index: 10;
}

.z-\[1\] {
  z-index: 1;
}

.z-\[2\] {
  z-index: 2;
}

.z-\[3\] {
  z-index: 3;
}

.z-\[4\] {
  z-index: 4;
}

.z-\[5\] {
  z-index: 5;
}

.m-2 {
  margin: 0.5rem;
}

.m-auto {
  margin: auto;
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mx-\[16px\] {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-\[18px\] {
  margin-left: 18px;
  margin-right: 18px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-\[6px\] {
  margin-top: 6px;
  margin-bottom: 6px;
}

.-ml-2 {
  margin-left: -0.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-1\.5 {
  margin-bottom: 0.375rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-\[16px\] {
  margin-bottom: 16px;
}

.mb-\[22px\] {
  margin-bottom: 22px;
}

.mb-\[52px\] {
  margin-bottom: 52px;
}

.mb-\[8px\] {
  margin-bottom: 8px;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.ml-\[-12px\] {
  margin-left: -12px;
}

.ml-\[-16px\] {
  margin-left: -16px;
}

.ml-\[-48px\] {
  margin-left: -48px;
}

.ml-\[-9px\] {
  margin-left: -9px;
}

.ml-\[44px\] {
  margin-left: 44px;
}

.ml-\[48px\] {
  margin-left: 48px;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mr-\[18px\] {
  margin-right: 18px;
}

.mr-\[44px\] {
  margin-right: 44px;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-3\.5 {
  margin-top: 0.875rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[-4px\] {
  margin-top: -4px;
}

.mt-\[102px\] {
  margin-top: 102px;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[120px\] {
  margin-top: 120px;
}

.mt-\[16px\] {
  margin-top: 16px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[3px\] {
  margin-top: 3px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.mt-\[42px\] {
  margin-top: 42px;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.box-border {
  box-sizing: border-box;
}

.box-content {
  box-sizing: content-box;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.aspect-\[1\.3\] {
  aspect-ratio: 1.3;
}

.h-1 {
  height: 0.25rem;
}

.h-11 {
  height: 2.75rem;
}

.h-12 {
  height: 3rem;
}

.h-14 {
  height: 3.5rem;
}

.h-16 {
  height: 4rem;
}

.h-2 {
  height: 0.5rem;
}

.h-20 {
  height: 5rem;
}

.h-3 {
  height: 0.75rem;
}

.h-4 {
  height: 1rem;
}

.h-48 {
  height: 12rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-7 {
  height: 1.75rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-\[100\%\] {
  height: 100%;
}

.h-\[12px\] {
  height: 12px;
}

.h-\[16px\] {
  height: 16px;
}

.h-\[184px\] {
  height: 184px;
}

.h-\[18px\] {
  height: 18px;
}

.h-\[200px\] {
  height: 200px;
}

.h-\[204px\] {
  height: 204px;
}

.h-\[26px\] {
  height: 26px;
}

.h-\[34px\] {
  height: 34px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[42px\] {
  height: 42px;
}

.h-\[44px\] {
  height: 44px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[52px\] {
  height: 52px;
}

.h-\[54px\] {
  height: 54px;
}

.h-\[56px\] {
  height: 56px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[68px\] {
  height: 68px;
}

.h-\[70px\] {
  height: 70px;
}

.h-\[84px\] {
  height: 84px;
}

.h-auto {
  height: auto;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-full {
  height: 100%;
}

.h-px {
  height: 1px;
}

.h-screen {
  height: 100vh;
}

.max-h-full {
  max-height: 100%;
}

.min-h-52 {
  min-height: 13rem;
}

.min-h-6 {
  min-height: 1.5rem;
}

.min-h-\[20px\] {
  min-height: 20px;
}

.min-h-full {
  min-height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.w-1\/5 {
  width: 20%;
}

.w-10 {
  width: 2.5rem;
}

.w-11\/12 {
  width: 91.666667%;
}

.w-12 {
  width: 3rem;
}

.w-16 {
  width: 4rem;
}

.w-2 {
  width: 0.5rem;
}

.w-20 {
  width: 5rem;
}

.w-24 {
  width: 6rem;
}

.w-3 {
  width: 0.75rem;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-7 {
  width: 1.75rem;
}

.w-8 {
  width: 2rem;
}

.w-80 {
  width: 20rem;
}

.w-9 {
  width: 2.25rem;
}

.w-\[12px\] {
  width: 12px;
}

.w-\[156px\] {
  width: 156px;
}

.w-\[16px\] {
  width: 16px;
}

.w-\[18px\] {
  width: 18px;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[240px\] {
  width: 240px;
}

.w-\[26px\] {
  width: 26px;
}

.w-\[280px\] {
  width: 280px;
}

.w-\[2px\] {
  width: 2px;
}

.w-\[320px\] {
  width: 320px;
}

.w-\[34px\] {
  width: 34px;
}

.w-\[370px\] {
  width: 370px;
}

.w-\[41px\] {
  width: 41px;
}

.w-\[54px\] {
  width: 54px;
}

.w-\[60px\] {
  width: 60px;
}

.w-\[82px\] {
  width: 82px;
}

.w-\[84px\] {
  width: 84px;
}

.w-\[calc\(100\%-36px\)\] {
  width: calc(100% - 36px);
}

.w-\[calc\(100\%-88px\)\] {
  width: calc(100% - 88px);
}

.w-\[calc\(100\%_\/_3\)\] {
  width: calc(100% / 3);
}

.w-auto {
  width: auto;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.min-w-0 {
  min-width: 0px;
}

.min-w-\[100px\] {
  min-width: 100px;
}

.min-w-\[104px\] {
  min-width: 104px;
}

.min-w-\[120px\] {
  min-width: 120px;
}

.max-w-\[115px\] {
  max-width: 115px;
}

.max-w-\[300px\] {
  max-width: 300px;
}

.max-w-\[350px\] {
  max-width: 350px;
}

.max-w-\[370px\] {
  max-width: 370px;
}

.max-w-\[388px\] {
  max-width: 388px;
}

.max-w-\[calc\(100\%\+48px\)\] {
  max-width: calc(100% + 48px);
}

.max-w-full {
  max-width: 100%;
}

.max-w-lg {
  max-width: 32rem;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.shrink-0 {
  flex-shrink: 0;
}

.flex-grow {
  flex-grow: 1;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-2 {
  --tw-translate-y: -0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-\[53\%\] {
  --tw-translate-y: -53%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[1px\] {
  --tw-translate-y: 1px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-x-\[-1\] {
  --tw-scale-x: -1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.cursor-default {
  cursor: default;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.resize-none {
  resize: none;
}

.list-none {
  list-style-type: none;
}

.grid-cols-\[1fr_50vw_1fr\] {
  grid-template-columns: 1fr 50vw 1fr;
}

.grid-cols-\[64px_minmax\(0\2c 1fr\)_64px\] {
  grid-template-columns: 64px minmax(0,1fr) 64px;
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-x-\[6px\] {
  -moz-column-gap: 6px;
       column-gap: 6px;
}

.space-x-\[6px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(6px * var(--tw-space-x-reverse));
  margin-left: calc(6px * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.whitespace-normal {
  white-space: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.break-words {
  overflow-wrap: break-word;
}

.break-all {
  word-break: break-all;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[12px\] {
  border-radius: 12px;
}

.rounded-\[16px\] {
  border-radius: 16px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[243px\] {
  border-radius: 243px;
}

.rounded-\[3px\] {
  border-radius: 3px;
}

.rounded-\[8px\] {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-b-3xl {
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.rounded-t-2xl {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.rounded-t-3xl {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.border {
  border-width: 1px;
}

.border-0 {
  border-width: 0px;
}

.border-2 {
  border-width: 2px;
}

.border-\[0\.5px\] {
  border-width: 0.5px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-0 {
  border-bottom-width: 0px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-b-\[0\.5px\] {
  border-bottom-width: 0.5px;
}

.border-b-\[1px\] {
  border-bottom-width: 1px;
}

.border-l-\[1px\] {
  border-left-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-t-\[1px\] {
  border-top-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-none {
  border-style: none;
}

.border-\[\#0006\] {
  border-color: #0006;
}

.border-\[\#101010\] {
  --tw-border-opacity: 1;
  border-color: rgb(16 16 16 / var(--tw-border-opacity));
}

.border-\[\#262626\] {
  --tw-border-opacity: 1;
  border-color: rgb(38 38 38 / var(--tw-border-opacity));
}

.border-\[\#2d2d2d\] {
  --tw-border-opacity: 1;
  border-color: rgb(45 45 45 / var(--tw-border-opacity));
}

.border-\[\#333638\] {
  --tw-border-opacity: 1;
  border-color: rgb(51 54 56 / var(--tw-border-opacity));
}

.border-\[\#353636\] {
  --tw-border-opacity: 1;
  border-color: rgb(53 54 54 / var(--tw-border-opacity));
}

.border-\[\#363737\] {
  --tw-border-opacity: 1;
  border-color: rgb(54 55 55 / var(--tw-border-opacity));
}

.border-\[\#555555\] {
  --tw-border-opacity: 1;
  border-color: rgb(85 85 85 / var(--tw-border-opacity));
}

.border-\[\#f3f5f726\] {
  border-color: #f3f5f726;
}

.border-border-color {
  --tw-border-opacity: 1;
  border-color: rgb(45 45 45 / var(--tw-border-opacity));
}

.border-gray-700 {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

.border-transparent {
  border-color: transparent;
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.border-b-\[rgba\(243\2c 245\2c 247\2c 0\.15\)\] {
  border-bottom-color: rgba(243,245,247,0.15);
}

.border-b-\[white\] {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.bg-\[\#00000080\] {
  background-color: #00000080;
}

.bg-\[\#0006\] {
  background-color: #0006;
}

.bg-\[\#0095f6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 149 246 / var(--tw-bg-opacity));
}

.bg-\[\#0a0a0a\] {
  --tw-bg-opacity: 1;
  background-color: rgb(10 10 10 / var(--tw-bg-opacity));
}

.bg-\[\#121212\] {
  --tw-bg-opacity: 1;
  background-color: rgb(18 18 18 / var(--tw-bg-opacity));
}

.bg-\[\#181818\] {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 24 / var(--tw-bg-opacity));
}

.bg-\[\#1E1E1E\] {
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity));
}

.bg-\[\#1e1e1e\] {
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity));
}

.bg-\[\#222222\] {
  --tw-bg-opacity: 1;
  background-color: rgb(34 34 34 / var(--tw-bg-opacity));
}

.bg-\[\#24C3FF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(36 195 255 / var(--tw-bg-opacity));
}

.bg-\[\#262626\] {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity));
}

.bg-\[\#333334\] {
  --tw-bg-opacity: 1;
  background-color: rgb(51 51 52 / var(--tw-bg-opacity));
}

.bg-\[\#6E3DEF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(110 61 239 / var(--tw-bg-opacity));
}

.bg-\[\#FF007A\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 122 / var(--tw-bg-opacity));
}

.bg-\[\#ffffff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[black\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-\[rgb\(16\2c 16\2c 16\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(16 16 16 / var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-border-color {
  --tw-bg-opacity: 1;
  background-color: rgb(45 45 45 / var(--tw-bg-opacity));
}

.bg-content-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 24 / var(--tw-bg-opacity));
}

.bg-main-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(10 10 10 / var(--tw-bg-opacity));
}

.bg-mobile-nav {
  background-color: #101010d9;
}

.bg-secondary-text {
  --tw-bg-opacity: 1;
  background-color: rgb(119 119 119 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}

.bg-cover {
  background-size: cover;
}

.fill-\[\#4d4d4d\] {
  fill: #4d4d4d;
}

.fill-\[\#7e7e7e\] {
  fill: #7e7e7e;
}

.fill-none {
  fill: none;
}

.stroke-\[\#777777\] {
  stroke: #777777;
}

.stroke-\[\#777\] {
  stroke: #777;
}

.stroke-white {
  stroke: #fff;
}

.stroke-\[2\] {
  stroke-width: 2;
}

.stroke-\[2px\] {
  stroke-width: 2px;
}

.stroke-\[3\] {
  stroke-width: 3;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 0.25rem;
}

.p-10 {
  padding: 2.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-\[12px_16px\] {
  padding: 12px 16px;
}

.p-\[12px_16px_13px\] {
  padding: 12px 16px 13px;
}

.p-\[14px\] {
  padding: 14px;
}

.p-\[16px\] {
  padding: 16px;
}

.p-\[18px\] {
  padding: 18px;
}

.p-\[1px_2px\] {
  padding: 1px 2px;
}

.p-\[24px\] {
  padding: 24px;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-\[120px\] {
  padding-left: 120px;
  padding-right: 120px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-\[6px\] {
  padding-top: 6px;
  padding-bottom: 6px;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-\[5px\] {
  padding-bottom: 5px;
}

.pb-\[68px\] {
  padding-bottom: 68px;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-\[30px\] {
  padding-left: 30px;
}

.pl-\[9px\] {
  padding-left: 9px;
}

.pr-0 {
  padding-right: 0px;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-\[9px\] {
  padding-right: 9px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-\[10px\] {
  padding-top: 10px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.font-\[system-ui\] {
  font-family: system-ui;
}

.font-main-font {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[\.8125rem\] {
  font-size: .8125rem;
}

.text-\[\.875rem\] {
  font-size: .875rem;
}

.text-\[1\.0625rem\] {
  font-size: 1.0625rem;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-user-weight {
  font-weight: 600;
}

.leading-4 {
  line-height: 1rem;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-\[1\.1538\] {
  line-height: 1.1538;
}

.leading-\[1\.4\] {
  line-height: 1.4;
}

.leading-\[1\.4em\] {
  line-height: 1.4em;
}

.leading-\[140\%\] {
  line-height: 140%;
}

.leading-\[18px\] {
  line-height: 18px;
}

.leading-\[22\.5px\] {
  line-height: 22.5px;
}

.leading-\[30px\] {
  line-height: 30px;
}

.leading-\[34px\] {
  line-height: 34px;
}

.leading-\[calc\(1\.3125\*1em\)\] {
  line-height: calc(1.3125 * 1em);
}

.leading-\[calc\(1\.4\*1em\)\] {
  line-height: calc(1.4 * 1em);
}

.leading-relaxed {
  line-height: 1.625;
}

.text-\[\#0095f6\] {
  --tw-text-opacity: 1;
  color: rgb(0 149 246 / var(--tw-text-opacity));
}

.text-\[\#101010\] {
  --tw-text-opacity: 1;
  color: rgb(16 16 16 / var(--tw-text-opacity));
}

.text-\[\#353535\] {
  --tw-text-opacity: 1;
  color: rgb(53 53 53 / var(--tw-text-opacity));
}

.text-\[\#777777\] {
  --tw-text-opacity: 1;
  color: rgb(119 119 119 / var(--tw-text-opacity));
}

.text-\[\#777\] {
  --tw-text-opacity: 1;
  color: rgb(119 119 119 / var(--tw-text-opacity));
}

.text-\[\#939393\] {
  --tw-text-opacity: 1;
  color: rgb(147 147 147 / var(--tw-text-opacity));
}

.text-\[\#CCCCCC\] {
  --tw-text-opacity: 1;
  color: rgb(204 204 204 / var(--tw-text-opacity));
}

.text-\[\#a8a8a8\] {
  --tw-text-opacity: 1;
  color: rgb(168 168 168 / var(--tw-text-opacity));
}

.text-\[\#b0b3b8\] {
  --tw-text-opacity: 1;
  color: rgb(176 179 184 / var(--tw-text-opacity));
}

.text-\[\#ccc\] {
  --tw-text-opacity: 1;
  color: rgb(204 204 204 / var(--tw-text-opacity));
}

.text-\[\#e0f1ff\] {
  --tw-text-opacity: 1;
  color: rgb(224 241 255 / var(--tw-text-opacity));
}

.text-\[\#f3f5f7\] {
  --tw-text-opacity: 1;
  color: rgb(243 245 247 / var(--tw-text-opacity));
}

.text-\[\#f5f5f5\] {
  --tw-text-opacity: 1;
  color: rgb(245 245 245 / var(--tw-text-opacity));
}

.text-\[\#fafafa\] {
  --tw-text-opacity: 1;
  color: rgb(250 250 250 / var(--tw-text-opacity));
}

.text-\[\#ff0000\] {
  --tw-text-opacity: 1;
  color: rgb(255 0 0 / var(--tw-text-opacity));
}

.text-\[\#ff3040\] {
  --tw-text-opacity: 1;
  color: rgb(255 48 64 / var(--tw-text-opacity));
}

.text-\[rgb\(153\2c 153\2c 153\)\] {
  --tw-text-opacity: 1;
  color: rgb(153 153 153 / var(--tw-text-opacity));
}

.text-\[white\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-primary-text {
  --tw-text-opacity: 1;
  color: rgb(243 245 247 / var(--tw-text-opacity));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.text-secondary-text {
  --tw-text-opacity: 1;
  color: rgb(119 119 119 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.no-underline {
  text-decoration-line: none;
}

.opacity-0 {
  opacity: 0;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-65 {
  opacity: 0.65;
}

.opacity-75 {
  opacity: 0.75;
}

.shadow-\[0_0_12px_0_rgba\(0\2c 0\2c 0\2c 0\.04\)\2c _0_0_0_48px_rgb\(10\2c 10\2c 10\)\] {
  --tw-shadow: 0 0 12px 0 rgba(0,0,0,0.04), 0 0 0 48px rgb(10,10,10);
  --tw-shadow-colored: 0 0 12px 0 var(--tw-shadow-color), 0 0 0 48px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_10\.5px_21px_\#00000014\] {
  --tw-shadow: 0 10.5px 21px #00000014;
  --tw-shadow-colored: 0 10.5px 21px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_10\.5px_21px_rgba\(0\2c _0\2c _0\2c _0\.078\)\] {
  --tw-shadow: 0 10.5px 21px rgba(0, 0, 0, 0.078);
  --tw-shadow-colored: 0 10.5px 21px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.outline-1 {
  outline-width: 1px;
}

.outline-\[\#f3f5f726\] {
  outline-color: #f3f5f726;
}

.backdrop-blur-lg {
  --tw-backdrop-blur: blur(16px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-100 {
  transition-duration: 100ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes zoomIn {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.animate-zoomIn {
  animation: zoomIn 0.5s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomOutFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-zoomOutFade {
  animation: zoomOutFade 1s ease forwards;
}

@keyframes fadeInDrop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fadeInDrop {
  animation: fadeInDrop 0.8s ease forwards;
}

.focus-within\:border-white:focus-within {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.hover\:scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:bg-\[\#171717\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(23 23 23 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#212121\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(33 33 33 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#222222\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(34 34 34 / var(--tw-bg-opacity));
}

.hover\:bg-\[rgba\(255\2c _255\2c _255\2c _0\.04\)\]:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.hover\:bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.disabled\:cursor-not-allowed:disabled {
  cursor: not-allowed;
}

.disabled\:text-\[\#10101066\]:disabled {
  color: #10101066;
}

.disabled\:opacity-70:disabled {
  opacity: 0.7;
}

.group:hover .group-hover\:fill-white {
  fill: #fff;
}

.group:hover .group-hover\:stroke-white {
  stroke: #fff;
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

@media (min-width: 700px) {
  .tbl\:fixed {
    position: fixed;
  }

  .tbl\:absolute {
    position: absolute;
  }

  .tbl\:relative {
    position: relative;
  }

  .tbl\:bottom-auto {
    bottom: auto;
  }

  .tbl\:left-1\/2 {
    left: 50%;
  }

  .tbl\:left-auto {
    left: auto;
  }

  .tbl\:right-0 {
    right: 0px;
  }

  .tbl\:right-1\/2 {
    right: 50%;
  }

  .tbl\:right-2 {
    right: 0.5rem;
  }

  .tbl\:right-\[26px\] {
    right: 26px;
  }

  .tbl\:right-auto {
    right: auto;
  }

  .tbl\:top-0 {
    top: 0px;
  }

  .tbl\:top-1\/2 {
    top: 50%;
  }

  .tbl\:top-3 {
    top: 0.75rem;
  }

  .tbl\:top-full {
    top: 100%;
  }

  .tbl\:z-\[1\] {
    z-index: 1;
  }

  .tbl\:z-auto {
    z-index: auto;
  }

  .tbl\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .tbl\:mx-\[76px\] {
    margin-left: 76px;
    margin-right: 76px;
  }

  .tbl\:my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .tbl\:my-\[6px\] {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .tbl\:mb-0 {
    margin-bottom: 0px;
  }

  .tbl\:mr-\[-19px\] {
    margin-right: -19px;
  }

  .tbl\:mt-0 {
    margin-top: 0px;
  }

  .tbl\:mt-1 {
    margin-top: 0.25rem;
  }

  .tbl\:mt-2 {
    margin-top: 0.5rem;
  }

  .tbl\:mt-\[60px\] {
    margin-top: 60px;
  }

  .tbl\:box-content {
    box-sizing: content-box;
  }

  .tbl\:block {
    display: block;
  }

  .tbl\:inline-block {
    display: inline-block;
  }

  .tbl\:flex {
    display: flex;
  }

  .tbl\:grid {
    display: grid;
  }

  .tbl\:hidden {
    display: none;
  }

  .tbl\:h-6 {
    height: 1.5rem;
  }

  .tbl\:h-\[24px\] {
    height: 24px;
  }

  .tbl\:h-\[calc\(100vh-60px\)\] {
    height: calc(100vh - 60px);
  }

  .tbl\:h-screen {
    height: 100vh;
  }

  .tbl\:min-h-px {
    min-height: 1px;
  }

  .tbl\:w-6 {
    width: 1.5rem;
  }

  .tbl\:w-\[224px\] {
    width: 224px;
  }

  .tbl\:w-\[24px\] {
    width: 24px;
  }

  .tbl\:w-\[500px\] {
    width: 500px;
  }

  .tbl\:w-\[522px\] {
    width: 522px;
  }

  .tbl\:w-\[620px\] {
    width: 620px;
  }

  .tbl\:w-\[76px\] {
    width: 76px;
  }

  .tbl\:w-\[calc\(80\%\)\] {
    width: calc(80%);
  }

  .tbl\:w-auto {
    width: auto;
  }

  .tbl\:w-full {
    width: 100%;
  }

  .tbl\:min-w-\[518px\] {
    min-width: 518px;
  }

  .tbl\:min-w-\[546px\] {
    min-width: 546px;
  }

  .tbl\:max-w-\[285px\] {
    max-width: 285px;
  }

  .tbl\:max-w-\[640px\] {
    max-width: 640px;
  }

  .tbl\:-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .tbl\:-translate-y-1\/2 {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .tbl\:transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .tbl\:cursor-not-allowed {
    cursor: not-allowed;
  }

  .tbl\:grid-cols-\[1fr_50\%_1fr\] {
    grid-template-columns: 1fr 50% 1fr;
  }

  .tbl\:grid-rows-\[1fr\] {
    grid-template-rows: 1fr;
  }

  .tbl\:flex-col {
    flex-direction: column;
  }

  .tbl\:items-center {
    align-items: center;
  }

  .tbl\:justify-center {
    justify-content: center;
  }

  .tbl\:gap-y-1 {
    row-gap: 0.25rem;
  }

  .tbl\:overflow-hidden {
    overflow: hidden;
  }

  .tbl\:rounded-2xl {
    border-radius: 1rem;
  }

  .tbl\:rounded-3xl {
    border-radius: 1.5rem;
  }

  .tbl\:rounded-\[10px\] {
    border-radius: 10px;
  }

  .tbl\:rounded-none {
    border-radius: 0px;
  }

  .tbl\:rounded-xl {
    border-radius: 0.75rem;
  }

  .tbl\:rounded-b-2xl {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .tbl\:rounded-b-3xl {
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

  .tbl\:rounded-t-2xl {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .tbl\:border {
    border-width: 1px;
  }

  .tbl\:border-0 {
    border-width: 0px;
  }

  .tbl\:border-\[0\.5px\] {
    border-width: 0.5px;
  }

  .tbl\:border-\[1px\] {
    border-width: 1px;
  }

  .tbl\:border-b-0 {
    border-bottom-width: 0px;
  }

  .tbl\:border-b-\[0\.5px\] {
    border-bottom-width: 0.5px;
  }

  .tbl\:border-t-\[1px\] {
    border-top-width: 1px;
  }

  .tbl\:border-\[\#f3f5f726\] {
    border-color: #f3f5f726;
  }

  .tbl\:border-\[rgba\(147\2c 140\2c 140\2c 0\.4\)\] {
    border-color: rgba(147,140,140,0.4);
  }

  .tbl\:border-border-color {
    --tw-border-opacity: 1;
    border-color: rgb(45 45 45 / var(--tw-border-opacity));
  }

  .tbl\:bg-\[\#171717\] {
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23 / var(--tw-bg-opacity));
  }

  .tbl\:bg-\[\#181818\] {
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 24 / var(--tw-bg-opacity));
  }

  .tbl\:bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  }

  .tbl\:bg-content-bg {
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 24 / var(--tw-bg-opacity));
  }

  .tbl\:bg-nav {
    background-color: #0a0a0ad9;
  }

  .tbl\:bg-transparent {
    background-color: transparent;
  }

  .tbl\:p-0 {
    padding: 0px;
  }

  .tbl\:p-2 {
    padding: 0.5rem;
  }

  .tbl\:p-3 {
    padding: 0.75rem;
  }

  .tbl\:p-6 {
    padding: 1.5rem;
  }

  .tbl\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .tbl\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .tbl\:px-\[18px\] {
    padding-left: 18px;
    padding-right: 18px;
  }

  .tbl\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .tbl\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .tbl\:pb-0 {
    padding-bottom: 0px;
  }

  .tbl\:pb-3 {
    padding-bottom: 0.75rem;
  }

  .tbl\:pl-6 {
    padding-left: 1.5rem;
  }

  .tbl\:pt-0 {
    padding-top: 0px;
  }

  .tbl\:pt-6 {
    padding-top: 1.5rem;
  }

  .tbl\:text-\[14px\] {
    font-size: 14px;
  }

  .tbl\:text-\[\#5a5b5b\] {
    --tw-text-opacity: 1;
    color: rgb(90 91 91 / var(--tw-text-opacity));
  }

  .tbl\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .tbl\:shadow-\[0_0_10px_5px_rgba\(10\2c 10\2c 10\2c 0\.7\)\] {
    --tw-shadow: 0 0 10px 5px rgba(10,10,10,0.7);
    --tw-shadow-colored: 0 0 10px 5px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .tbl\:animate-zoomIn {
    animation: zoomIn 0.5s ease forwards;
  }

  .tbl\:hover\:bg-\[\#222222\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(34 34 34 / var(--tw-bg-opacity));
  }
}

@media (min-width: 792px) {
  .pc\:left-1\/2 {
    left: 50%;
  }

  .pc\:top-0 {
    top: 0px;
  }

  .pc\:top-6 {
    top: 1.5rem;
  }

  .pc\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .pc\:ml-auto {
    margin-left: auto;
  }

  .pc\:mr-auto {
    margin-right: auto;
  }

  .pc\:flex {
    display: flex;
  }

  .pc\:w-\[520px\] {
    width: 520px;
  }

  .pc\:w-\[580px\] {
    width: 580px;
  }

  .pc\:w-\[640px\] {
    width: 640px;
  }

  .pc\:max-w-\[370px\] {
    max-width: 370px;
  }

  .pc\:-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .pc\:transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

@media (min-width: 1200px) {
  .lg-desktop\:h-\[141px\] {
    height: 141px;
  }

  .lg-desktop\:h-\[174px\] {
    height: 174px;
  }

  .lg-desktop\:w-\[141px\] {
    width: 141px;
  }

  .lg-desktop\:w-\[174px\] {
    width: 174px;
  }
}

@media (min-width: 1100px) and (max-width: 1199px) {
  .md-desktop\:h-\[123px\] {
    height: 123px;
  }

  .md-desktop\:h-\[157px\] {
    height: 157px;
  }

  .md-desktop\:w-\[123px\] {
    width: 123px;
  }

  .md-desktop\:w-\[157px\] {
    width: 157px;
  }
}

@media (min-width: 956px) and (max-width: 1099px) {
  .sm-desktop\:h-\[106px\] {
    height: 106px;
  }

  .sm-desktop\:h-\[140px\] {
    height: 140px;
  }

  .sm-desktop\:w-\[106px\] {
    width: 106px;
  }

  .sm-desktop\:w-\[140px\] {
    width: 140px;
  }
}

@media (min-width: 768px) and (max-width: 955px) {
  .tablet\:h-\[120px\] {
    height: 120px;
  }

  .tablet\:h-\[86px\] {
    height: 86px;
  }

  .tablet\:w-\[120px\] {
    width: 120px;
  }

  .tablet\:w-\[86px\] {
    width: 86px;
  }
}

@media (max-width: 767px) {
  .landscape-mobile\:hidden {
    display: none;
  }
}

@media (min-width: 520px) {
  .sm-tablet\:hidden {
    display: none;
  }
}

@media (max-width: 519px) {
  .portrait-mobile\:hidden {
    display: none;
  }
}

@media (max-height: 860px) {
  .flexible-decoration\:mt-\[calc\(100vh-860px\)\] {
    margin-top: calc(100vh - 860px);
  }
}
