/* Tạo thanh cuộn tùy chỉnh */
.custom-scrollbar {
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: #555 #2d2d2d;
    /* Firefox */
}

/* Dành cho các trình duyệt WebKit như Chrome, Safari */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #2d2d2d;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .custom-scrollbar {
        scrollbar-color: transparent transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }
}

.activity__post-username {
    display: inline-block; /* Cần thiết để giới hạn chiều rộng */
    white-space: nowrap; /* Ngăn văn bản xuống dòng */
    overflow: hidden; /* Ẩn phần văn bản vượt quá */
    text-overflow: ellipsis; /* Thêm dấu "..." khi văn bản bị cắt */
}
